
div.hidden div.panels .visualClear {
    display: none;
}

div.selected div.panels .visualClear {
    display: block;
}

div.hidden div.panels div.selected,
div.panels div.hidden,
div.panels > div.hidden {
    visibility: hidden;
    height: 0px;
}

div.panels  div.selected,
div.panels > div.selected {
    visibility: visible;
    height: auto;
}
div.panels div.selected p,
div.panels > div.selected img {
    display: block;
    height: auto;
    width: auto;
}

div.panels div.hidden p,
div.panels > div.hidden img {
    display: none;
    height: 0px;
    width: 0px;
}



* html div.hidden div.panels,
    * html div.hidden div.panels div.selected,
    * html div.panels div.hidden {
        visibility: hidden;
        height: 0px;
        position: absolute;
        display: none;
        width: auto;
}

* html div.selected div.panels,
    * html div.selected div.panels div.selected,
    * html div.panels  div.selected {
        visibility: visible;
        height: 100%;
        position: auto;
        display: block;
}

/* .visualColumnHideOneTwo #portal-column-content #content { */
#content {
    border: 1px solid #aaa;
    border-style: none solid solid solid;
    background: white;
    margin: 0px !important;
}
#region-content {
    margin: 0 15px;
    background: transparent url(shadow.png) no-repeat bottom right;
    padding: 0 6px 6px 0 ! important;
}
/* old rounded tabs css from eeadesign2006 moved here since globalnav is using other html and css from NavigationManager */

.tabnavigation {
    padding: 0 0 0 1.5em;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    background: transparent;
    float: right;
    height: 2em;
    line-height: 1.3em;
    vertical-align: top;
}

.tabnavigation li {
    display: block;
    float: left;
    background: transparent url(/green-left.png) top left no-repeat ! important;
    background: transparent url(/green-left.gif) top left no-repeat;
    margin: 0;
    padding-left: 13px;
 }

 .tabnavigation li a {
     display: block;
     background: transparent url(/green-right.png) top right no-repeat ! important;
     background: transparent url(/green-right.gif) top right no-repeat;
     padding: 0.2em 1.25em 0.2em 0;
     text-decoration: none;
     width: 8em;
     color: white;
     font: bold 1em Verdana;
     text-align: center;
}

.tabnavigation li.selected {
    background: transparent url(/on02-left.png) top left no-repeat ! important;
    background: transparent url(/on02-left.gif) top left no-repeat;
}
.tabnavigation li.selected a {
    background: transparent url(/on02-right.png) top right no-repeat ! important;
    background: transparent url(/on02-right.gif) top right no-repeat;
    color: #495b6b;
}

.tabnavigation li a:hover {
    color: #f5821f;
}


#webapp-globalnav {
    padding: 0;
    margin: 0 21px 0 15px;
    white-space: nowrap;
    list-style: none;
    background: transparent;
    vertical-align: top;
    float: none;
    line-height: 1.4em;
    height: 1.5em;
    border-bottom: 1px solid #aaa;
}


#webapp-globalnav li {
    background: transparent url(on02-left.png) top left no-repeat ! important;
    background: transparent url(on02-left.gif) top left no-repeat;
    border-bottom: 1px solid #aaa;
 }

 #webapp-globalnav li a {
     background: transparent url(on02-right.png) top right no-repeat ! important;
     background: transparent url(on02-right.gif) top right no-repeat;
     color: #777777;
     width: auto;
}

#webapp-globalnav li.selected  a {
    color: #000000;
}

#webapp-globalnav li a:hover {
    color: #000000;
}

#webapp-globalnav li.selected  {
    border-bottom: 1px solid white;
}


.webapp-submenu {
    display: block;
    background: white;
    padding: 0 0 0.5em 0;
    margin: 0.2em 0 0 0 !important;
}

.webapp-submenu li {
    display: inline !important;
    border-right: 1px solid #aaa;
    padding-right: 5px; 
    margin: 0 5px 5px 5px;
}

/* IE Fixes */

* html #region-content {
    width: 100%;
}
* html*#region-content {
    width: auto;
}
